<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0"><dict>
    <key>CFBundleIdentifier</key><string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
    <key>CFBundleName</key><string>BibCiTeX</string>
    <key>CFBundleDisplayName</key><string>BibCiTeX</string>
    <key>CFBundleExecutable</key><string>BibCiTeX</string>
    <key>CFBundlePackageType</key><string>APPL</string>
    <key>CFBundleShortVersionString</key><string>$(MARKETING_VERSION)</string>
    <key>CFBundleVersion</key><string>$(CURRENT_PROJECT_VERSION)</string>
    <key>CFBundleIconFile</key><string>icon</string>
    <key>LSMinimumSystemVersion</key><string>$(MACOSX_DEPLOYMENT_TARGET)</string>
    <key>NSHighResolutionCapable</key><true/>
    <key>NSPrincipalClass</key><string>NSApplication</string>
    <key>NSAppleEventsUsageDescription</key><string>将引用键粘贴到当前应用。</string>
    <key>SUEnableAutomaticChecks</key><true/>
    <key>SUShowReleaseNotes</key><true/>
    <key>SUAutomaticallyUpdate</key><false/>
    <key>SUVerifyUpdateBeforeExtraction</key><true/>
</dict></plist>
