.entry {
    border: 1px solid #ccc;
    margin: 10px;
    padding: 10px;
}

.entry-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.entry-type {
    background-color: rgba(0, 0, 255, 0.1);
    border-radius: 7px;
    padding: 1px 4px;
    margin: 0 2px 0 2px;
    color: red;
}

.entry-journal {
    background-color: rgba(0, 0, 155, 0.1);
    border-radius: 7px;
    padding: 1px 4px;
    margin: 0 2px 0 2px;
    color: gray;
}

.entry-key {
    background-color: #f0f0f0;
    border-radius: 7px;
    padding: 2px 2px;
    margin: 0 2px 0 2px;
    text-align: right;
    cursor: help;
}

.author-tag {
    color: rgba(125, 0, 0, 0.8);
    background-color: rgba(0, 255, 255, 0.5);
    border-radius: 7px;
    padding: 1px 4px;
    margin: 0 2px 0 2px;
}

.author-tag-alt {
    color: rgba(125, 0, 0, 0.6);
    background-color: rgba(0, 255, 255, 0.5);
    border-radius: 7px;
    padding: 1px 4px;
    margin: 0 2px 0 2px;
}
